<section
  class="banner"
  [ngStyle]="{ 'background-image': 'url(assets/images/allanimals.jpg)' }"
>
  Peixes
</section>

<h2>Peixes disponíveis para adoção</h2>

<div class="container list">
  <mat-card *ngFor="let fish of fishes" class="animal-card">
    <img mat-card-image [src]="fish.image" [alt]="fish.name" />
    <mat-card-title>{{ fish.name }}</mat-card-title>
    <mat-card-content>
      <p><strong>Cor:</strong> {{ fish.color }}</p>
      <p><strong>Gênero:</strong> {{ fish.sex }}</p>
    </mat-card-content>
    <mat-card-actions class="card-actions-bottom">
      <button
        mat-raised-button
        color="primary"
        (click)="openReserveDialog(fish)"
      >
        Reservar para Adoção
      </button>
    </mat-card-actions>
  </mat-card>
</div>
